In [2]:
import pandas as pd
import os

In [4]:
import os
import pandas as pd

# Initialize an empty list to store each CSV's data
csv_files = []

# Walk through all files in the current directory
for root, dirs, files in os.walk("."):
    for file in files:
        if file.endswith(".csv"):
            # Read each CSV file and append to the list
            file_path = os.path.join(root, file)
            csv_files.append(pd.read_csv(file_path))

# Concatenate all DataFrames in the list
merged_df = pd.concat(csv_files, ignore_index=True)

# Save the merged DataFrame to a Parquet file
merged_df.to_parquet("merged_data.parquet", index=False)

print("All CSV files have been merged and saved as 'merged_data.parquet'")

All CSV files have been merged and saved as 'merged_data.parquet'

In [6]:
merged_df["missing_filename"].value_counts()

missing_filename
20220222T063102086_20220222T063110086    4
20220222T062918086_20220222T062926086    4
20220222T062742086_20220222T062750086    4
20220222T062558086_20220222T062606086    4
20220222T062414086_20220222T062422086    4
                                        ..
20220802T221041775_20220802T221049775    1
20220802T194640272_20220802T194648272    1
20220802T181815793_20220802T181823793    1
20220802T125957359_20220802T120005359    1
20220802T050957257_20220802T051005257    1
Name: count, Length: 35642, dtype: int64

In [17]:
filtered=merged_df[merged_df["flare_class_with_bg"].str.startswith("X") |merged_df["flare_class_with_bg"].str.startswith("M")|merged_df["flare_class_with_bg"].str.startswith("C")]

In [18]:
filtered

,class_file_name,flare_class_with_bg,flare_class_without_bg,pre_fit_start_time,pre_fit_end_time,missing_filename
242,20220802T171607793_20220802T171615793,C1,C1,61376.0,67976.0,NaN
243,20220802T171615793_20220802T171623793,C1,C1,61376.0,67976.0,NaN
244,20220802T171623793_20220802T171631793,C1,C1,61376.0,67976.0,NaN
245,20220802T171631793_20220802T171639793,C1,C1,61376.0,67976.0,NaN
246,20220802T171639793_20220802T171647793,C1,C1,61376.0,67976.0,NaN
...,...,...,...,...,...,...
3355548,20210507T185136544_20210507T185144544,M2,M2,67845.0,72465.0,NaN
3355549,20210507T185144544_20210507T185152544,M2,M2,67845.0,72465.0,NaN
3355550,20210507T185152544_20210507T185200544,M2,M2,67845.0,72465.0,NaN
3355551,20210507T185200544_20210507T185208544,M2,M2,67845.0,72465.0,NaN
3355552,20210507T185208544_20210507T185213465,M2,M2,67845.0,72465.0,NaN

In [21]:
with open("fits_names.txt","w") as f:
    f.writelines(line+"\n" for line in filtered["class_file_name"].values)

In [37]:
lstx=filtered[filtered["flare_class_with_bg"].str.startswith("X")]["class_file_name"].values
lstx=set([item[:8] for item in lstx])
lstx
lstm=filtered[filtered["flare_class_with_bg"].str.startswith("M")]["class_file_name"].values
lstm=set([item[:8] for item in lstx])
lstm
lstc=filtered[filtered["flare_class_with_bg"].str.startswith("C")]["class_file_name"].values
lstc=set([item[:8] for item in lstx])
lstc
M=[]
C=[]
X=[]
for item in lstx:
    if os.path.exists("/home/heasoft/ch2-abundance/scripts/flare_ops/scripts/spectrum/"+f"ch2_xsm_{item}_l1_vvapec.txt"):
        X.append(item)
for item in lstm:
    if os.path.exists("/home/heasoft/ch2-abundance/scripts/flare_ops/scripts/spectrum/"+f"ch2_xsm_{item}_l1_vvapec.txt"):
        M.append(item)
for item in lstc:
    if os.path.exists("/home/heasoft/ch2-abundance/scripts/flare_ops/scripts/spectrum/"+f"ch2_xsm_{item}_l1_vvapec.txt"):
        C.append(item)

In [38]:
print(X,M,C)

['20220417', '20220503', '20220430', '20211028', '20220421', '20221002'] ['20220417', '20220503', '20220430', '20211028', '20220421', '20221002'] ['20220417', '20220503', '20220430', '20211028', '20220421', '20221002']

In [39]:
import pickle
solar_dict={"X":X,"M":M,"C":C}
pickle.dump(solar_dict,open("solar.pkl","wb"))